#parent{
height: 100vh;
background-color: aqua;
width: 100%;
}
.myDiv{
    color: red;
}
#loginPage{
    margin: 0 auto;
    text-align: center;
    width: 60%;
    margin-top: 30vh;
}
.form-group{
    text-align: left;
}
.loginBtn{
    margin-top: 10px;
}